<div class="menu-item">
    <a asp-controller="Video" asp-action="index">
        <i class="bi bi-house-door-fill sideSize"></i>
        <p>Home</p>
    </a>
    
</div>
<div class="menu-item">
    <i class="bi bi-phone-flip sideSize"></i>
    <p>Shorts</p>
</div>
<div class="menu-item">
    <i class="bi bi-collection-play sideSize"></i>
    <p>Subscriptions</p>
</div>
<div class="menu-item">
    <i class="bi bi-file-earmark-play sideSize"></i>
    <p>You</p>
</div>